<nav class="navbar navbar-expand-lg bg-body-tertiary px-5 w-100">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand ms-5 fs-2" href="http://localhost:8012/PROYECTO_PREGUNTADOS/HomeController/mostrarHome">
            Preguntame
        </a>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-5 mb-lg-0 fs-5">
                {{#usuario}}
                    <li class="nav-item dropdown">
<!--                        <img src="http://localhost:8012/PROYECTO_PREGUNTADOS/public/images/{{foto_perfil}}" alt="." width="50%">-->
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{nombre_completo}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="http://localhost:8012/PROYECTO_PREGUNTADOS/LoginController/logout">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                {{/usuario}}
            </ul>
        </div>
    </div>
</nav>
<main>