# Ignorar la carpeta de dependencias de Composer
/vendor/
/phpqrcode/
/public/img/user-img
# Ignorar logs, archivos de caché y configuración local
/cache/
/logs/
/config.ini # Si este archivo tiene credenciales sensibles
.env