<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="http://localhost:8012/PROYECTO_PREGUNTADOS/public/css/loginStyles.css">
</head>
<body>

<h1>Bienvenido al home!</h1>

<a href="http://localhost:8012/PROYECTO_PREGUNTADOS/LoginController/logout">Cerrar Sesion</a>

</body>
</html>